body{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#bio-img{
}

#bio{
    background-color: ghostwhite;
    border-radius: 15px;
}

#Contacto{
    margin-top: 2cm;
    background-color: ghostwhite;
    border-radius: 15px;
}

#about{
    padding-top: 1cm;
    padding-bottom: 1cm;
}

#texto-muestra{
    background-color: ghostwhite;
    border-radius: 15px;
}
#work{
    padding-top: 1cm;
    padding-bottom: 1cm;    
}